<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <span class="border">
        <div class="card">
            <div class="d-flex flex-column" >
                
              
              <img src="../assets/title.png"  class="logoTitle">

            </div>
          
            <div class="card-body">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" id="uname" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" id="psw" required>
                
              <button type="submit" (click)="submit()">Login</button>
             
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          
          
          </div>
    </span>


  

</body>
</html>
